# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Flask / local database
instance/
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log