* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    color: #252525;
}

.navbar {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid #dddddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
}

.main-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.page-header {
    margin-bottom: 30px;
}

.page-header h1 {
    margin-bottom: 8px;
}

.page-header p {
    color: #666666;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.dashboard-card {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
}

.dashboard-card h3 {
    margin-top: 0;
    color: #555555;
}

.dashboard-number {
    font-size: 38px;
    font-weight: bold;
}
.page-header-row,
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.primary-button,
.secondary-button {
    display: inline-block;
    padding: 11px 18px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.primary-button {
    background-color: #222222;
    color: white;
}

.secondary-button {
    background-color: #eeeeee;
    color: #222222;
}

.table-container,
.form-container,
.patient-info-card,
.wound-card,
.empty-state {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 25px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    text-align: left;
    padding: 14px;
    border-bottom: 1px solid #eeeeee;
}

.data-table th {
    color: #666666;
}

.table-link {
    color: #222222;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 11px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.patient-info-card {
    margin-bottom: 30px;
}

.wound-card {
    margin-bottom: 15px;
}

.empty-state {
    text-align: center;
    color: #666666;
}


.form-group select {
    width: 100%;
    padding: 11px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: white;
}